html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.turntable-bg {
  width: 100%;
  height: 15rem;
  position: relative;
  background: url("turntable-bg.gif");
  background-size: 100% 100%;
  margin: 0 auto;
}

.turntable-bg .pointer {
  width: 3rem;
  height: 4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -1.3rem;
  margin-top: -2.5rem;
  z-index: 8;

}
.turntable-bg .rotate {
  width: 11.25rem;
  height: 11.25rem;
  position: absolute;
  left: 2rem;
  top: 1rem;

}
/*.turntable-bg img{*/
  /*display: block;*/
  /*width: 100%;*/
  /*height: 100%;*/
/*}*/

